/* import Bahiana font family */
@font-face {
    font-family: Bahiana;
    src: url(./fonts/Bahiana-Regular.ttf) format('truetype');
}

/* import MedievalSharp font family */
@font-face {
    font-family: MedievalSharp;
    src: url(./fonts/MedievalSharp-Regular.ttf) format('truetype');
}

body {
    background-color: black;
    font-family: 'Bahiana', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;
}

.content {
    padding-left: 100px;
    width: 750px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px;

}

body {
    background-color: black;
    font-family: 'Bahiana', sans-serif;
}
.header-slogan {
    margin-left: 50px;
}

.nav {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-bottom: 100%;
}

li {
    list-style: none;
}

.navtitle {
    text-decoration: none;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: white;
}

a:focus {
    color: white;
    outline: 1px solid purple;
}

a:active {
    color: purple;
}

h1 {
    color: grey;
    font-size: 72px;
    margin-left: 50px;
}

/* So begins code for the "blog" portion of index.html */

h2 {
    font-family: 'MedievalSharp', sans-serif;
    color: white;
    text-decoration: underline;
}

.ptitle {
    font-family: 'MedievalSharp', sans-serif;
    color: white;
    font-size: 20px;
}

.pdate {
    font-family: 'MedievalSharp', sans-serif;
    color: purple;
    font-size: 8px;
}

.pauthor {
    font-family: 'MedievalSharp', sans-serif;
    color: white;
    font-size: 10px;
}
.pcontent {
    font-family: 'MedievalSharp', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}


/* contact page styling */

.contact {
    color: purple;
    margin-left: 200px;
}

.button {
    font-family: 'MedievalSharp', sans-serif;
    background-color: black;
    color: grey;
    border: 0px;
    font-size: 24px;
    margin: 20px 0px 20px 0px;
}

.button:hover {
    color: white;
}

/* project page styling */

.gametitle {
    font-family: 'MedievalSharp', sans-serif;
    font-size: 32px;
    color: purple;
}

.gamedesc {
    font-family: 'MedievalSharp', sans-serif;
    font-size: 18px;
    color: white;
}

.game-status {
    color: grey;
    font-size: 18px;
}

.gamefeat-title {
    font-size: 20px;
    color: purple;
}

.gamefeat {
    font-family: 'MedievalSharp', sans-serif;
    font-size: 16px;
    color: white;
}
